.vscode/**
.vscode-test/**
out/**
src/**
test/**
.gitignore
.editorconfig
.eslintignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
webpack.config.js
